# List

In [57]:
# Variable nama_teman (list) berisi lima nama teman

nama_teman = ['Amir', 'Budi', 'Cinta', 'Dimas', 'Edi']
print(nama_teman)

['Amir', 'Budi', 'Cinta', 'Dimas', 'Edi']

In [58]:
# List berisi nilai dengan tipe data berbeda

acak = ['Amir', 18, 0.75, 'Jeruk']
print(acak)

['Amir', 18, 0.75, 'Jeruk']

In [59]:
print(type(acak))

<class 'list'>

In [60]:
# List berisi value duplikat

buah = ['Jeruk', 'Melon', 'Apel', 'Jeruk']
print(buah)

['Jeruk', 'Melon', 'Apel', 'Jeruk']

In [61]:
# Memanggil value berdasarkan index

nama_teman[1]

'Budi'

In [62]:
# Mengganti value pada index tertentu
# Budi akan digantikan dengan Beni

nama_teman[1] = 'Beni'
print(nama_teman)

['Amir', 'Beni', 'Cinta', 'Dimas', 'Edi']

In [63]:
# Slicing pada list

bil = [50, 70, 90, 30, 20, 10, 60, 70, 30, 50]

print(bil[0:3])

print(bil[::2])

print(bil[::-1])

[50, 70, 90]
[50, 90, 20, 60, 30]
[50, 30, 70, 60, 10, 20, 30, 90, 70, 50]

In [64]:
# Menampilkan panjang nama_teman

len(nama_teman)

5

In [65]:
for i in nama_teman:
  print(i)

Amir
Beni
Cinta
Dimas
Edi

In [66]:
print(i)

Edi

In [67]:
# menampilkan angka urutan
for i in range(len(nama_teman)):
  print(f"{i+1}. {nama_teman[i]}")

1. Amir
2. Beni
3. Cinta
4. Dimas
5. Edi

In [68]:
# Menambahkan value baru pada akhir list

nama_teman.append('Ferdi')
print(nama_teman)

['Amir', 'Beni', 'Cinta', 'Dimas', 'Edi', 'Ferdi']

In [69]:
# Menghitung banyaknya kemunculan value

nama_teman.count('Beni')

1

In [70]:
# Menampilkan index dari value
# jika value memiliki duplikat maka index yang ditampilkan adalah index terkecil

nama_teman.index('Dimas')

3

In [71]:
# Menyisipkan value pada index tertentu

nama_teman.insert(2, 'Canda')
print(nama_teman)

['Amir', 'Beni', 'Canda', 'Cinta', 'Dimas', 'Edi', 'Ferdi']

In [72]:
# Menghapus value pada index tertentu
# jika pop() akan menghapus data terakhir

nama_teman.pop(2)
print(nama_teman)

['Amir', 'Beni', 'Cinta', 'Dimas', 'Edi', 'Ferdi']

In [73]:
# Menghapus value tertentu
# Jika terdapat value duplikat maka yang dihapus adalah value yang muncul pertama kali

nama_teman.remove('Cinta')
print(nama_teman)

['Amir', 'Beni', 'Dimas', 'Edi', 'Ferdi']

In [74]:
# Mengurutkan value pada list

# Ascending/menaik
nama_teman.sort()
print('Menaik')
print(nama_teman)
print('\n')
print('Menurun')
nama_teman.sort(reverse=True)
print(nama_teman)

Menaik
['Amir', 'Beni', 'Dimas', 'Edi', 'Ferdi']


Menurun
['Ferdi', 'Edi', 'Dimas', 'Beni', 'Amir']

In [75]:
# Membalikkan list

nama_teman.reverse()
print(nama_teman)

['Amir', 'Beni', 'Dimas', 'Edi', 'Ferdi']

In [76]:
# Mengcopy list
# membuat var baru
teman_baru = nama_teman.copy()

teman_baru

['Amir', 'Beni', 'Dimas', 'Edi', 'Ferdi']

In [77]:
# Mengosongkan nama_teman

nama_teman.clear()
print(nama_teman)

[]

In [ ]:
# nama teman sekarang menjadi kosong

nama_teman

[]

# Tuple

mirip dg list tapi tidak bisa dimanupulasi/diubah (konstan)

In [ ]:
# Mendefinisikan tuple dengan tanda kurung

bil_tuple = (10,20,30,40,50)

In [ ]:
# Menampilkan panjang tuple

len(bil_tuple)

5

In [ ]:
# Menampilkan kemunculan bilangan 10 pada tuple

bil_tuple.count(10)

1

In [ ]:
# menampilkan index dari value 30 pada tuple

bil_tuple.index(30)

2

In [ ]:
# menampilkan value dengan index ke 3 pada tuple

bil_tuple[3]

40

In [ ]:
# slicing pada tuple

bil_tuple[::2]

(10, 30, 50)

In [ ]:
# Membuat tuple dari list

bil_list = [50, 70, 90, 30, 20, 10, 60, 70, 30, 50]

bil = tuple(bil_list)
print(bil)

(50, 70, 90, 30, 20, 10, 60, 70, 30, 50)

# Set (himpunan)

- tidak mengenal urutan(indeks)
- elemen tidak memuat duplikat
- {} tidak mengenal key, jadi langsung values

In [ ]:
# Mendefinisikan set bernama buah

buah = {'apel','jeruk','mangga','melon','semangka','anggur'}

In [ ]:
# menampilkan ukuran himpunan

len(buah)

6

In [ ]:
# menambahkan anggota himpunan (1)

buah.add('pepaya')

print(buah)

{'mangga', 'apel', 'anggur', 'melon', 'jeruk', 'pepaya', 'semangka'}

In [ ]:
# menambahkan himpunan ke himpunan (lebih dari 1)

buah.update({'pisang','jambu'})

print(buah)

{'mangga', 'apel', 'jambu', 'jeruk', 'pisang', 'anggur', 'melon', 'semangka', 'pepaya'}

In [ ]:
# Menghapus 'pisang' dari himpunan

buah.remove('pisang')

print(buah)

{'mangga', 'apel', 'jambu', 'jeruk', 'anggur', 'melon', 'semangka', 'pepaya'}

In [ ]:
# akan menghasilkan error karena sirsak tidak ada di dalam himpunan
buah.remove('sirsak')

KeyError: ignored

In [ ]:
# menghapus 'pepaya' dari himpunan

buah.discard('pepaya')

print(buah)

{'mangga', 'apel', 'jambu', 'jeruk', 'anggur', 'melon', 'semangka'}

In [ ]:
# menguji apakah terdapat 'durian' pada himpunan buah

'durian' in buah

False

In [ ]:
# menampilkan semua anggota buah kecuali anggur, sirsak, dan melon

buah.difference({'anggur','sirsak','melon'})

{'apel', 'jambu', 'jeruk', 'mangga', 'semangka'}

In [ ]:
# menampilkan irisan himpunan

buah.intersection({'anggur','sirsak','melon'})

{'anggur', 'melon'}

In [ ]:
# menampilkan gabungan himpunan

buah.union({'anggur','sirsak','melon'})

{'anggur', 'apel', 'jambu', 'jeruk', 'mangga', 'melon', 'semangka', 'sirsak'}

# Dictionary

In [ ]:
# Mendefinisikan dictionary

pegawai = {
	'Nama'	: 'Dicky',
	'Usia'		: 30,
	'Role'		: 'Data Analyst',
	'Dept'		: 'Marketing'
}

In [ ]:
# Memanggil value dari dictionary

pegawai['Nama']

'Dicky'

In [ ]:
# Mengganti nilai pada dictionary

pegawai['Nama'] = 'Ricky'

print(pegawai)

{'Nama': 'Ricky', 'Usia': 30, 'Role': 'Data Analyst', 'Dept': 'Marketing'}

In [ ]:
# Menambahkan key baru beserta valuenya

pegawai['Gaji'] = 10000000

print(pegawai)

{'Nama': 'Ricky', 'Usia': 30, 'Role': 'Data Analyst', 'Dept': 'Marketing', 'Gaji': 10000000}

In [ ]:
# Menghapus key beserta valuenya

del pegawai['Gaji']

print(pegawai)

{'Nama': 'Ricky', 'Usia': 30, 'Role': 'Data Analyst', 'Dept': 'Marketing'}

In [ ]:
# Menampilkan daftar key dari dictionary

pegawai.keys()

dict_keys(['Nama', 'Usia', 'Role', 'Dept'])

In [ ]:
# Menampilkan daftar values

pegawai.values()

dict_values(['Ricky', 30, 'Data Analyst', 'Marketing'])

In [ ]:
# Menampilkan pasangan key value dalam bentuk list of tuples

pegawai.items()

dict_items([('Nama', 'Ricky'), ('Usia', 30), ('Role', 'Data Analyst'), ('Dept', 'Marketing')])

In [ ]:
# menyalin dictionary

copy_of_pegawai = pegawai.copy()

In [ ]:
copy_of_pegawai

{'Nama': 'Ricky', 'Usia': 30, 'Role': 'Data Analyst', 'Dept': 'Marketing'}

In [ ]:
# menghapus seluruh isi dictionary

copy_of_pegawai.clear()

In [ ]:
copy_of_pegawai

{}